## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Naryan-Mar,RU,67.67,53.09,10.71,93,98,3.53,overcast clouds
1,1,Ushuaia,AR,-54.80,-68.30,39.20,93,90,24.16,snow
2,2,Kabompo,ZM,-13.59,24.20,67.89,72,30,5.28,scattered clouds
3,3,Saint-Philippe,RE,-21.36,55.77,78.80,83,20,4.61,light rain
4,4,Slatina-Timiş,RO,45.25,22.28,42.22,94,100,3.65,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('Enter the Minimum Temperature You Want for your Vacation Destination: '))
max_temp = float(input('Enter the Maximum Temperature You Want for your Vacation Destination: '))

Enter the Minimum Temperature You Want for your Vacation Destination: 70
Enter the Maximum Temperature You Want for your Vacation Destination: 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
vacation_cities = city_data_df.loc[(city_data_df['Max Temp'] <= 90) &
                                  (city_data_df['Max Temp'] >= 70)]
vacation_cities

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Saint-Philippe,RE,-21.36,55.77,78.80,83,20,4.61,light rain
8,8,Walvis Bay,NaN,-22.96,14.51,80.60,39,14,6.91,few clouds
12,12,Jamestown,SH,-15.94,-5.72,71.44,70,76,14.34,broken clouds
13,13,Rio Grande,BR,-32.03,-52.10,75.20,73,75,12.66,broken clouds
15,15,Umluj,SA,25.02,37.27,72.43,55,16,22.10,few clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Riyadh,SA,24.69,46.72,75.20,15,3,18.41,clear sky
682,682,Cockburn Town,BS,24.03,-74.52,70.52,69,100,27.36,overcast clouds
686,686,Nārsingi,IN,18.03,78.43,89.01,44,33,5.19,scattered clouds
689,689,Kharan,PK,28.58,65.42,84.78,11,0,5.21,clear sky
696,696,Les Cayes,HT,18.20,-73.75,84.15,57,17,10.74,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
vacation_cities.isna().sum()

Unnamed: 0              0
City                    0
Country                10
Lat                     0
Lng                     0
Max Temp                0
Humidity                0
Cloudiness              0
Wind Speed              0
Current Description     0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
vacation_cities_df = vacation_cities.dropna()
vacation_cities_df.isna().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Saint-Philippe,RE,78.80,light rain,-21.36,55.77,
12,Jamestown,SH,71.44,broken clouds,-15.94,-5.72,
13,Rio Grande,BR,75.20,broken clouds,-32.03,-52.10,
15,Umluj,SA,72.43,few clouds,25.02,37.27,
18,Bīdar,IN,88.41,scattered clouds,17.90,77.55,
19,Chicama,PE,71.60,fog,-7.84,-79.15,
23,Beira,MZ,78.80,few clouds,-19.84,34.84,
24,Hualmay,PE,75.33,broken clouds,-11.10,-77.61,
25,Carnarvon,AU,78.80,clear sky,-24.87,113.63,
26,Bambous Virieux,MU,81.00,light rain,-20.34,57.76,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    long = row['Lng']
    params["location"] = f"{lat},{long}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f'Hotel Not Found for Row {index}')

Hotel Not Found for Row 55
Hotel Not Found for Row 75
Hotel Not Found for Row 81
Hotel Not Found for Row 98
Hotel Not Found for Row 121
Hotel Not Found for Row 172
Hotel Not Found for Row 190
Hotel Not Found for Row 257
Hotel Not Found for Row 293
Hotel Not Found for Row 301
Hotel Not Found for Row 316
Hotel Not Found for Row 339
Hotel Not Found for Row 360
Hotel Not Found for Row 379
Hotel Not Found for Row 384
Hotel Not Found for Row 400
Hotel Not Found for Row 403
Hotel Not Found for Row 450
Hotel Not Found for Row 471
Hotel Not Found for Row 518
Hotel Not Found for Row 560
Hotel Not Found for Row 580
Hotel Not Found for Row 595
Hotel Not Found for Row 654
Hotel Not Found for Row 662

In [22]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Saint-Philippe,RE,78.80,light rain,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
12,Jamestown,SH,71.44,broken clouds,-15.94,-5.72,Consulate
13,Rio Grande,BR,75.20,broken clouds,-32.03,-52.10,Hotel Atlântico Rio Grande
15,Umluj,SA,72.43,few clouds,25.02,37.27,Moon light Furnished Units
18,Bīdar,IN,88.41,scattered clouds,17.90,77.55,Kaveri Hotel
...,...,...,...,...,...,...,...
681,Riyadh,SA,75.20,clear sky,24.69,46.72,InterContinental Riyadh
682,Cockburn Town,BS,70.52,overcast clouds,24.03,-74.52,Club Med Columbus - Bahamas
686,Nārsingi,IN,89.01,scattered clouds,18.03,78.43,Sri sai ram hotel
689,Kharan,PK,84.78,clear sky,28.58,65.42,Ghani Hasrat House
696,Les Cayes,HT,84.15,few clouds,18.20,-73.75,Villa Orphee

In [30]:
# 7. Drop the rows where there is no Hotel Name. (Empty values are '' so I'm just comparing to that)
hotel_df_clean = hotel_df[hotel_df['Hotel Name']!= '']
hotel_df_clean.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Saint-Philippe,RE,78.80,light rain,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
12,Jamestown,SH,71.44,broken clouds,-15.94,-5.72,Consulate
13,Rio Grande,BR,75.20,broken clouds,-32.03,-52.10,Hotel Atlântico Rio Grande
15,Umluj,SA,72.43,few clouds,25.02,37.27,Moon light Furnished Units
18,Bīdar,IN,88.41,scattered clouds,17.90,77.55,Kaveri Hotel
19,Chicama,PE,71.60,fog,-7.84,-79.15,Hospedaje Punta Cana PERU
23,Beira,MZ,78.80,few clouds,-19.84,34.84,Beira Terrace Hotel
24,Hualmay,PE,75.33,broken clouds,-11.10,-77.61,Hotel Restaurant Turístico Casablanca
25,Carnarvon,AU,78.80,clear sky,-24.87,113.63,Hospitality Carnarvon
26,Bambous Virieux,MU,81.00,light rain,-20.34,57.76,Casa Tia Villa

In [31]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df_clean.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df_clean[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))